/* 



/* Login Card */
.login-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  
  /* Centrado en la pantalla */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Title */
.login-title {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 30px;
}

/* Form Fields */
.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Buttons */
.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #0057b369;
  font-weight: bold !important;

}

/* Register Button */
.btn-register {
  background-color: #343a40;
  color: white;
  border: none;
  margin-top: 15px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-register:hover {
  background-color: rgba(0, 60, 255, 0.212) !important;
  color: #000000;
  font-weight: bold;
} 



.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
